.card {
    width: 600px;
    height: auto;
    margin: 0 auto;
    background-color: lightgray;
}

.card label {
    font-size: 20px;
    font-weight: 900;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.formulario {
    width: 500px;
    height: auto;
    margin: 0 auto;
    padding: 15px;
}

.formulario input[type="text"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

.btn-enviar{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: none;
    border-radius: 4px;
    background-color: rgb(13, 126, 28);
    cursor: pointer;
    text-transform: uppercase;
}

.btn-enviar:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(64, 194, 71);
    font-weight: 900;
}